.carousel-inner>.item>img,.carousel-inner>.item>a>img {
  width:100%;
  margin:auto;
  height:820px;
  object-fit:cover;
}
.p0l {
    padding-left:0px;
}
.p0r {
    padding-right:0px;
}
.m0l {
    margin-left:0px;
}
.m0r {
    margin-right:0px;
}
.logo {
    width:100%;
    position:relative;
}
.logo img {
    z-index:1000;
    width:50%;
    position:absolute;
    left:50%;
  margin-left:-25%;
  top:160px;
}
.contact-num {
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  width:100%;
  padding-top:1em;
    left:0;
    z-index:999;
    height:50px;
}
.contact-num p {
  float:left;
  margin:0 auto;
  color:white;
  padding-left:20px;
  font-family:Papyrus,fantasy;
  font-size:17px;
}
.contact-num h3 {
    color:white;
    margin:0 auto;
    float:right;
  padding-right:20px;
  font-family:Papyrus,fantasy;
}
.contact-num i {
    float:right;
    font-size:30px;
    transform:rotate(270deg);
    color:white;
  margin-right:20px;
}
.main-gallery {
    width:100%;
    height:500px;
}
.main-gallery img {
    width:100%;
    height:100%;
    object-fit:cover;
    position:relative;
}
.main-gallery .category {
    position:absolute;
    border:10px solid black;
    width:200px;
    height:130px;
    top:50%;
    left:50%;
    margin-left:-100px;
    margin-top:-65px;
  -webkit-transform:scale(1);
  transform:scale(1);
  -webkit-transition:.3s ease-in-out;
  transition:.3s ease-in-out;
}
.main-gallery .category:hover {
    width:325px;
  height:150px;
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}
.main-gallery .category a {
    text-decoration:none;
}
.main-gallery .category a h1 {
    color:deeppink;
  text-align:center;
  font-weight:bold;
  line-height:110px;
  margin-top:0px;
  margin-bottom:0px;
  letter-spacing:6px;
  font-family:fantasy;
  font-size:2.5em;
}
.bt {
  border-top:6px solid black;
}
.prices {
  background:url("img/08.jpg");
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
}
legend {
   width:175px;
  border-bottom:none;
  text-align:center;
  color:black;
  font-size:30px;
  font-family:fantasy;
  font-style:italic;
  letter-spacing:5px;
}
fieldset {
  border:4px solid black;
  border-radius:10px;
  width:68%;
  margin:10px auto;
}
.prices ul li {
  padding:10px;
  color:black;
  font-family:Papyrus,fantasy;
  font-style:italic;
  font-size:16px;
  font-weight:bold;
}
.prices .sym {
   list-style-type:none;
  padding-left:3.5em;
  background-image:url('http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-symbols-shapes/018681-glossy-black-icon-symbols-shapes-decor2.png');
  background-size:3em;
  background-repeat:no-repeat;
}
.prices {
  padding:35px 0px;
}
.contact {
  background:url("img/09.jpg");
  width:100%;
  height:100%;
  background-size:cover;
  background-repeat:no-repeat;
}
.contact .info {
  text-align:center;
  padding-top:50px;
}
.contact .info h2,.contact .info p {
  color:white;
  font-family:Papyrus,fantasy;
}
.contact .info p {
  font-size:17px;
  font-weight:bold;
}
.contact .social {
  width:40px;
  height:40px;
  background:deeppink;
  border-radius:50px;
  text-align:center;
  line-height:40px;
  margin:20px auto;
}
.contact .social i {
  color:white;
  font-size:17px;
}
@media only screen and (max-width:1440px) {
  .carousel-inner>.item>img,.carousel-inner>.item>a>img {
    height:600px;
  }
}
@media only screen and (max-width:768px) {
  .prices ul {
    padding:5px;
  }
  .prices .sym {
    padding-left:3.0em;
  }
  .prices ul li {
    padding:6px;
    font-size:14px;
  }
  .contact .info h2 {
    font-size:20px;
  }
  .main-gallery {
    height:400px;
  }
  .main-gallery .category a h1 {
    line-height:100px;
  }
  .contact .info p {
    font-weight:normal;
  }
  fieldset {
    width:75%;
  }
  .main-gallery .category {
    width:190px;
    height:120px;
    margin-left:-90px;
  }
  .main-gallery .category:hover {
    width:250px;
    height:130px;
  }
  .carousel-inner>.item>img,.carousel-inner>.item>a>img {
    height:500px;
  }
  .logo img {
    top:180px;
  }
}
@media only screen and (max-width:425px) {
  .contact-num i {
    display:none;
  }
  .carousel-inner>.item>img,.carousel-inner>.item>a>img {
    height:400px;
  }
}
@media only screen and (max-width:375px) {
  .carousel-inner>.item>img,.carousel-inner>.item>a>img {
    height:300px;
  }
  .logo img {
    top:120px;
  }
  .main-gallery {
    height:300px;
  }
  .main-gallery .category:hover {
    width:230px;
    height:120px;
  }
}
@media only screen and (max-width:320px) {
  fieldset {
    width:80%;
  }
  .contact-num h3 {
    font-size:17px;
    padding-right:20px;
  }
   .main-gallery .category a h1{
    font-size: 28px;
   }
  .contact-num p {
    padding-left:15px;
    font-size:15px;
  }
  .carousel-inner>.item>img,.carousel-inner>.item>a>img {
    height:200px;
  }
  .logo img {
    top:75px;
  }
  .main-gallery {
    height:200px;
  }
  .main-gallery .category:hover {
    width:215px;
    height: 110px;
  }
}
/.yui3-cssreset{
  font-size: 12px;
}