<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Ženske Frizure</title>
</head>
<style>
.backgr {
  background:url("10.jpg");
  width:100%;
  height:100%;
}
.backgr h1 {
  font-family:Papyrus,fantasy;
  font-style:italic;
  text-align:center;
  font-weight:bold;
  color:black;
}
.backgr h1 a {
  font-family:Papyrus,fantasy;
  font-style:italic;
  float:left;
  padding:7px;
  border:2px solid deeppink;
  font-weight:bolder;
  color:black;
  font-size:25px;
  border-radius:10px;
}
.small {
    width:200px;
  height:200px;
  cursor:pointer;
  float:left;
  padding:10px;
  margin-left:58px;
  object-fit:cover;
}
hr {
  border-top:2px solid black;
}
.big {
  margin:0 auto;
  height:100%;
}
.big img {
  width:100%;
  object-fit:cover;
}
.modall {
  text-align:center;
  background:rgba(0,0,0,0.8);
  top:0;
  position:fixed;
  left:0;
  right:0;
  z-index:99;
  bottom:0;
  padding:20px;
  width:100%;
  overflow:visible;
  height:100%;
}
button {
  border:2px solid white;
  background:transparent;
  color:white;
  float:left;
  width:35px;
  height:35px;
}
@media only screen and (max-width:1024px) {
  .small {
    margin-left:44px;
  }
}
@media only screen and (max-width:768px) {
  .small {
    margin-left:42px;
  }
}
@media only screen and (max-width:425px) {
  .small {
    margin-left:8px;
  }
  .backgr h1 {
    font-size:25px;
  }
  .backgr h1 a {
    margin-top:-7px;
  }
}
@media only screen and (max-width:375px) {
  .small {
    margin-left:85px;
  }
  .backgr h1 a {
    font-size:20px;
  }
}
@media only screen and (max-width:375px) {
  .small {
    margin-left: 60px;
  }
}
</style>
<body>
<section>
<div class="container-fluid backgr">
  <h1><a href="../salon.html">Nazad</a></h1>
  <h1>Ženske Frizure</h1>
  <hr>
  <div class="row">
    <div id="pic">
      <fotografija v-for="slika in slike" :p="slika"></fotografija>
    </div>
  </div>
</div>
<template id="modal">
<div>
  <img @click="prikazi" :src="p" class="small">
  <div class="modall" id="container" v-show="open">
    <button @click="zatvori">X</button>
    <img :src="p" class="big">
  </div>
</div>
</template>
</section>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
<script>
	var fotografija = {
    template: '#modal',
    props: ['p'],
    data() {
    	var model = {
      	open: false
      };
      return model;
    },
    methods: {
        prikazi() {
                this.open = true;
         
            },
            zatvori() {
                this.open = false;
            }
    }
};

Vue.component('fotografija', fotografija);


new Vue({
    el: '#pic',
    data() {
        var model = {
            slike: ['images/1.jpg','images/2.jpg','images/3.jpg','images/4.jpg','images/5.jpg','images/6.jpg','images/7.jpg','images/9.jpg','images/10.jpg','images/11.jpg','images/12.jpg','images/13.jpg','images/14.jpg','images/15.jpg','images/16.jpg','images/17.jpg','images/18.jpg','images/19.jpg','images/20.jpg','images/21.jpg','images/22.jpg','images/23.jpg','images/24.jpg','images/25.jpg','images/26.jpg','images/27.jpg','images/29.jpg','images/30.jpg','images/31.jpg','images/32.jpg']
        }
        return model
    }
});
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>
